/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:100'); */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


@font-face {
  font-family: 'alvaro';
  src: url('./font/Alvaro-Condensed.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bulgatti';
  src: url('./font/Bulgatti.ttf');
  font-weight: normal;
  font-style: normal;
}



* {
  margin:0;
  padding:0;
}


html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, 'Roboto', Helvetica Neue, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
 
}

h1 {
  font-size: 6rem;
  line-height:8rem;
  color:#e71a1a;
  opacity:0;
  animation: HeroAnimation 3s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  font-weight:700;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'alvaro', Helvetica Neue, sans-serif; */
}



h2 {
  font-size:2.7rem;
  line-height: 3.5rem;
  text-align: center;
  color:#e71a1a;
  opacity:0;
  animation: HeroAnimation 3s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  font-weight:700;
}

.Hero {
  background-color: rgb(255, 137, 125);
  height:100vh;
  width: 100%;
}

.Hero p {
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  max-width:1400px;
  width:100%;
  font-size:1.5rem;
  line-height: 2rem;
  color: white;
  margin-top:2rem;
}

.Hero.project {
  height:auto;
}

.Hero p a {
  color: white;
}

.HeroGroup {
  margin: 0 auto;
  max-width: 1400px;
  padding:100px 20px;
  text-align: left;
}


@keyframes HeroAnimation {
 0% {
  opacity:0;
  transform: translateY(20px);
 } 
 100% {
  opacity:1;
  transform: translateY(0);
 }  
}

.Hero svg {
  position: absolute;
  bottom: 0;
  left:0;
}

.Hero .logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:30px;
  margin: 100px 0;
  justify-items: center;
}

.details ul {
  position: relative;
  display: block;
  margin-top: 2rem;
}

.details ul li {
  display: inline;
  color: white;
}

.details ul li img {
  width: 56px;
}

.details .Github {
  position: relative;
  top:-8px;
}

.details .Github img {
  width: 54px;
}

.details ul li p {
    font-size: 1rem;
    font-size: 1rem;
    position: absolute;
    display: block;
    top: 40px;
}

/* PROJECT */
.project h2, h3, h4 {
  text-transform: uppercase;
}

.project h3, h4 {
  color:white;
}


.project h3 {
    margin-left:.5rem;
    margin-top: 1.5rem;
    font-size: .9rem;
}

.project h4 {
  margin-top:5rem;
}

.project p{
  color: white;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.project p a {
  color: white;
  text-decoration: underline;
}

.Hero.page.vw-project {
  background: #1A12BF;
}

.Hero.page.cmab-project, .Hero.page.hulu-project {
  background: #231f20;
}

.Hero.page.target-project {
  background: #C8102E;
}

.Hero.page.cmab-project h2 {
  color:#FFC221;
}

.Hero.page.vw-project h2, .Hero.page.vivint-project h2, .Hero.page.target-project h2, .Hero.page.hulu-project h2, .Hero.page.vww-project h2 {
  color: white;
}

.Hero.page.tb-project h2 {
  color: #00d5a5;
}

.Hero.page.vivint-project {
  background: #FE8200;
}

.Hero.page.tb-project {
  background: black;
}

.Hero.page.vww-project {
  background:#18558E;
}

.visitor {
  background: white;
  text-decoration: none !important;
  padding: 10px 20px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  color:black !important;
}

.grabs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  grid-gap: 30px;
  max-width: 1400px;
  margin: 3rem auto 30px;
}

.grabs img {
  width: 100%;
  object-fit: cover;
}

.video-container {
  margin-top:3rem;
}

/* $breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px */



/* @media only screen and (min-width: 45em) {
  .Hero p {
    margin-left: 10px;
    font-size:2rem;
    line-height: 3rem;
  }
} */

@media only screen and (min-width: 45em) {
  h1 {
    font-size:14rem;
    line-height:15rem;
  }

  h2 {
    font-size: 10rem;
    line-height:13rem;
  }

  .HeroGroup {
    padding: 100px 50px;
  }

  .Hero.project {
    height:100vh;
  }

  .Hero p {
    margin-left: 10px;
    font-size:2.5rem;
    line-height: 3rem;
  }

  .details ul {
    margin-top: 5rem;
  }

  .details ul li p {
    display: inline;
    top: -37px;
  }

  .project p{
    color: black;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .project p{
    color: black;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  
  .project p a {
    color: black;
    text-decoration: underline;
  }

  .project h3, h4 {
    color:black;
  }

  .visitor {
    background: black;
    text-decoration: none !important;
    padding: 10px 20px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    color:white !important;
  }

  .homepage {
    overflow:hidden;
  }

  
}
