@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
* {
  margin:0;
  padding:0;
}

.Header {
    position: fixed;
    width: 100%;
    padding: 50px 0;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

/* .HeaderGroup {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px auto;
    align-items: center;
    justify-items: center;
} */

.logo {
    position: fixed;
    top: 40px;
    left:20px;
    z-index: 6;
}

.logo img {
  width:80px;
}


/* .logoBlack {
background: url('./assets/black-logo.svg')no-repeat;
} */


.Header input + label {
    position: fixed;
    top: 40px;
    right: 40px;
    height: 25px;
    width: 60px;
    z-index: 5;
  }
  .Header input + label span {
    position: absolute;
    width: 100%;
    height: 3px;
    top: 50%;
    margin-top: -1px;
    right: 0;
    display: block;
    background: white;
    transition: 0.5s;
  }
  .Header input + label span:first-child {
    top: 0;
  }
  .Header input + label span:nth-child(2){
      width:70%;
  }
  .Header input + label span:last-child {
    top: 27px;
    width:30%;
  }
  .Header label:hover {
    cursor: pointer;
  }
  .Header input:checked + label span {
    opacity: 0;
    top: 50%;
  }
  .Header input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
  }
  .Header input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
    width:100%;
  }


  .Header input ~ nav {
    background: transparent;
    /* background: rgb(255, 137, 125); */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 3;
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
    /* visibility: hidden; */
    
  }

  /*.Header input ~ nav > .projects {
    text-align: center;
    position: absolute;
     top: 20%; */
    /* left: 12%; */
    /* right: 12%; */
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-template-rows: repeat(2, 20rem);
    width: 100%;
    max-width: 1400px;
    grid-gap: 2rem; 
    top: 20%;
    display: grid;
    width: 100%;
    max-width: 1400px;
    grid-gap: 0rem;
  }*/

  .Header input ~ nav >  ul{
    text-align: center;
    position: absolute;
    left: 2%;
    right: 2%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-template-rows: repeat(4, 11rem);
    width: 96%;
    max-width: 1400px;
    grid-gap: 1rem;
    top: 15%;
    display:grid;
  }

  input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    /* For mobile, it's typically better to position checkbox on top of clickable
       area and turn opacity to 0 instead. */
 }

  .Header input ~ nav > ul > li {
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0s;
    list-style:none;
    display:none;
  }
  .Header input ~ nav >  ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #020304;
    font-weight: 700;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
  .Header input:checked ~ nav {
    height: 100%;
    transition-delay: 0s;
    background: #151515;
    color: white;
    /* display: block; */
  }

  .Header input:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: 0.5s;
    display:block;
    /* background:white; */
  }

  .vw {
      background:#1A12BF;
  }

  .vw a img {
    margin-left:40px;
  }

  .hulu {
      background: #00EB77;
  }

  .tacobell {
    background: #FBFAFC;
  }

  .vivint {
    background: #FE8200;
  }

  .target {
    background: #C8102E;
  }

  .vw2 {
    background:#18558E;
  }

  .camilk {
    background: #FFC221;
  }

  .thisishulu {
    background: white;
    border: 10px solid #21E584;
  }


.HeaderScrolled {
    background: rgba(0,0,0, 0.8);
    padding: 45px 0;
    backdrop-filter: blur(20px);
}

.navz {
  display: grid;
  /* padding-top:7rem; */
  grid-template-areas:
    'about chatter projects projects projects'
    'megif info projects projects projects';
  /* grid-gap: 10px; */
  background-color: #2196F3;
  /* padding: 10px; */
}

.projects {
  grid-area: projects;
  /* background:pink; */
  display:none;
  grid-template-areas:
    'title'
    'works';
}

.title {
  font-size:3rem;
  color:white;
  grid-area: title;
  display:none;
}

.works {
  grid-area: works;
}

.chatter {
  grid-area: chatter;
  background:rgb(255, 137, 125);
  display:none;
  /* min-height:40%; */
}

.chatter p {
  width: 100%;
  max-width: 360px;
  font-size: 4rem;
  line-height: 4rem;
  text-align: left;
}

.chatter a {
  font-size: 3rem;
  font-weight: bolder;
  line-height: 16rem;
  color: #e71a1a;
}

.about {
  grid-area: about;
  /* background:purple; */
  display:none;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  /* min-height:40%; */
}

.about h3 {
  line-height: 3rem;
}

.about p {
  width: 100%;
  max-width: 240px;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: left;
}

.megif {
  grid-area: megif;
  background:grey;
  display:none;
  height: 100%;
  background:url('./assets/meeee.jpg')no-repeat;
  background-size: cover;
}


.info {
  grid-area: info;
  /* background:red; */
  display:none;
  border-right: 1px solid grey;
}

.info h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  /* float: left; */
  text-align: left;
  width: 70%;
}

.info .balls {
  margin-top:2rem;
}

.balls {
  position: absolute;
    margin-top: 10rem;
    margin-left: 2.7rem;
}

.open .chatter,
.open .projects .title,
.open .about,
.open .megif,
.open .info{
  display: block;
  transition-delay: 0s;
  width: 100%;
}

.open .about, .open .chatter {
  min-height:40%;
}

@media only screen and (min-width: 33.75em) {
  .Header input ~ nav >  ul{
    left: 9%;
    right: 9%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-template-rows: repeat(2, 20rem);
    width: 100%;
    max-width: 1400px;
    grid-gap: 2rem;
    top: 15%;
  }

  .HeaderScrolled {
    background:transparent;
  }

  .logo {
    left: 40px;
  }

  .logo img {
    width:100px;
  }
}

